// bower:scss
@import "bower_components/susy/sass/_susy.scss";
// endbower

$susy: (
  columns: 12,
  container: 1120px,
  gutters: 0.25,
  global-box-sizing: border-box
);
@include border-box-sizing;

@import 'cantina/cantina';
@import 'style-guide';
