/**
 * Variables
 */

$style-side-margins: gutter(6);

/**
 * Main
 */

html, body {
  margin: 0;
  padding: 0;
}

.main-content {
  @include container;
  padding: 1em 0 2em;
}

#imported-elements {
  display: none;
}

/**
 * Header
 */
header {
  padding: 0.5em 0;
  text-align: center;

  h1 {
    margin: 0;
  }
}

/**
 * Section Titles
 */

.section-title,
h2.section-title {
  margin: 0;
  padding: 0.5em;
  position: relative;

  background: $blue;
  border-bottom: 0.25em solid $grey-4;
  color: white;
  font-size: $beta;
  text-align: center;
  z-index: 2;
}

/**
 * Color Swatches
 */

.color-list {
  margin: 0 $style-side-margins;
}

.style-swatch {
  margin-bottom: gutter();
  padding: 3em 0;

  box-shadow: inset 0 0 0.5em rgba(130,130,130,0.5);
  border-radius: $border-radius-sm;
  color: $white;
  font-weight: $weight-bold;
  line-height: 1.5;
  text-align: center;

  .style-swatch-detail {
    display: block;
    font-weight: $weight-regular;
    font-size: $zeta;
    opacity: 0.5;
  }
}

.style-swatch--invert {
  @extend .style-swatch;
  color: $black;
}

.style-swatch,
.style-swatch--invert {
  @media #{$small-only} {
    @include span(6 of 12);

    &:nth-child(2n) {
      @include last;
    }
  }

  @media #{$medium-only} {
    @include span(4 of 12);

    &:nth-child(3n) {
      @include last;
    }
  }

  @media #{$large-up} {
    @include span(3 of 12);

    &:nth-child(4n) {
      @include last;
    }
  }
}

/**
 * Styles & Previews
 */

.style-description {
  position: relative;
  margin: 1em $style-side-margins;

  h4 {
    margin: 0;
  }
}

.style-preview {
  margin: 0 0 2em;
  padding: 1em $style-side-margins;
  background: $grey-2;
  border-top: 1px dotted $grey-6;
  border-bottom: 1px dotted $grey-5;
}

/**
 * Code Previews
 */

.style-code {
  display: none;
  margin: 0 $style-side-margins;
}

.style-code-toggle {
  position: absolute;
  right: 0;
  top: -1em;
  padding: 1em;

  background: $grey;
  border-radius: 2 * $border-radius-sm;
  color: #f8f8f2; // Match the code color
  text-decoration: none;
  font-family: Consolas, Monaco, 'Andale Mono', monospace; // Match the code font


  &:hover,
  &.active {
    background: #272822; // Match the code background
    color: #f8f8f2; // Match the code color
  }
}