/**
 * Main
 */

html, body {
  margin: 0;
  padding: 0;
}

.main-content {
  @include container;
  padding: 0 gutter();
}

/**
 * Section Titles
 */

.section-title {
  padding: 0.5em;
  background: $blue;
  color: white;
  text-align: center;
}

/**
 * Style Swatches
 */

.style-swatch {
  @include span(6 of 12);

  margin-bottom: gutter();
  padding: 3em 0;

  text-align: center;
  color: $white;

  &:nth-child(2n) {
    @include last;
  }
}

.style-swatch--invert {
  @extend .style-swatch;
  color: $black;
}