/**
 * Fonts
 */

html, body {
  font-family: $font-body;
  font-size: $font-base-size;
  line-height: 1.5;
}

/**
 * Font Weights
 */

.normal {
  font-weight: $weight-regular;
}
b, strong, .bold {
  font-weight: $weight-bold;
}
