/**
 * Font Sizes
 */

// Sizes (px)
$font-base-size: 16px;
$ultra-px: 72px;
$mega-px: 52px;
$alpha-px: 42px;
$beta-px: 28px;
$gamma-px: 20px;
$delta-px: 18px;
$epsilon-px: 16px;
$zeta-px: 14px;
$eta-px: 12px;

// Sizes (rem)
// $ultra: rem($ultra-px);
// $mega: rem($mega-px);
// $alpha: rem($alpha-px);
// $beta: rem($beta-px);
// $gamma: rem($gamma-px);
// $delta: rem($delta-px);
// $epsilon: rem($epsilon-px);
// $zeta: rem($zeta-px);
// $eta: rem($eta-px);

$ultra: $ultra-px;
$mega: $mega-px;
$alpha: $alpha-px;
$beta: $beta-px;
$gamma: $gamma-px;
$delta: $delta-px;
$epsilon: $epsilon-px;
$zeta: $zeta-px;
$eta: $eta-px;
