.footnotes {
    margin-top: 4em;
}

.footnotes-return {
    background-color: $grey-xlight;
    font-family: $font-symbol;
    font-size: 0.7em;
    margin-left: 0.4em;
    padding: 0.2em 0.3em;
    text-decoration: none;
}

.footnote {
    background-color: $grey-xlight;
    margin-left: 0.2em;
    padding: 0.1em 0.3em;
    text-decoration: none;
}
