.grid-row {

    margin: 0 auto;
    overflow: auto;
    margin: 0 -1em;

    .grid-col,
    .grid-col-25,
    .grid-col-33,
    .grid-col-50,
    .grid-col-66 {
        min-height: 2em;
        padding: 1em;
    }

    @media screen and (min-width: 50em) {

        .grid-col-25,
        .grid-col-33,
        .grid-col-50 {
            width: 50%;
            float: left;
        }

        .grid-col-offset-25 {
            margin-left: 25%;
        }

        .grid-col-offset-33 {
            margin-left: 33.3%;
        }

        .grid-col-offset-50 {
            margin-left: 50%;
        }

    }

    @media screen and (min-width: 60em) {

        .grid-col-25 {
            width: 25%;
            float: left;
        }

        .grid-col-33 {
            width: 33.3%;
            float: left;
        }

        .grid-col-66 {
            width: 66.6%;
            float: left;
        }

        .grid-col-offset-66 {
            margin-left: 66.6%;
        }

        .grid-col-offset-75 {
            margin-left: 75%;
        }

    }

}
