<div class="style">
  <div class="style-description">
    {{#if title}}
    <h4>{{title}}</h4>
    {{/if}}
    {{#if description}}
    <p>{{{description}}}</p>
    {{/if}}
  </div>
  <div class="style-preview">
    {{{content}}}
  </div>
</div>